# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/

# Streamlit
.streamlit/

# OS
.DS_Store

# Data (do not commit large/raw datasets)
data/*.csv
data/**/*.csv

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/